@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: 'sandbrush';
  src: url('/assets/sandbrush demo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GalanoGrotesque';
  src: url('/assets/GalanoGrotesqueAltLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: GalanoGrotesque;
}
body::-webkit-scrollbar{
 display: none;
}





/* Styles for screens between 768px and 1023px (tablet) */
@media only screen and (min-width: 100px) and (max-width: 1023px) {
  .postions-absolute {
    position: absolute;
    text-align: center;
    width: 100%;
    background-color: white;
    height: 200vh;
    /* Other styles for tablet screens */
  }
  .margin-top{
    margin-top: 30px;
  }
}

.font-family{
  font-family: sandbrush;
}
.background-image{
  background-image: url("../../public/assets/images/Saly-1.png");
  background-position: bottom;
  background-repeat: no-repeat;
}
